<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 演示按时间滚动的策略 -->
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>e:/tmp/logs/showcase.log</file>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>d:/tmp/logs/citylife-prototype-web.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 保留 30天数据，默认无限-->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.citylife.trackup.backend" level="INFO" />

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
	
</configuration>